*{
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
.admin__wrapper {
    display: flex;
    border: 10px solid #98c029
    
}
.header__main {
    background: #000000;
    height: 100vh;
    width: 400px;
    align-items: center;
}